:root {
  --background-gradient: linear-gradient(30deg, rgb(202, 58, 58) 30%, rgb(202, 58, 58));
  --gray: #98b9db;
  --darkgray: #2a2e30;
}

#background_div {
  content: "";
  background: url(../data/21-22/estadio_Benfica.jpg);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#background_div_global {
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#passingNetwork {
  margin-top: 3.5%;
  font-weight: bold;
  text-align: left;
  font-size: 170%;
  padding-left: 1%;
}

.navbar-brand {
  padding-left: 1em;
}

.navbar .navbar-collapse {
  text-align: left;
  padding-left: 1em;
}

.navbar-toggler {
  width: 47px;
  height: 34px;
  background-color: #e2ebd92a;
  border: 2px solid #cf261f;
}


select {
  /* Reset Select */
  border: 2px solid #cf261f;
  /* Personalize */
  color: white;
  background-color: rgba(255, 255, 255, 0);
  background-image: none;
  cursor: pointer;
  border-radius: .25em;
  overflow: hidden;
  font-weight: bold;
}

select option {
  background: #2a2e30;
}

.XAxis line {
  stroke: white;
}

.XAxis path {
  stroke: white;
}

.XAxis text {
  stroke: none;
  color: white;
  font-size: 90%;
}

.YAxis line {
  stroke: white;
  stroke-width: 0%;
}

.YAxis path {
  stroke: white;
  stroke-width: 0%;
}

.YAxis text {
  color: white;
}

td,
th {
  padding: 1px 4px;
  color: white;
}

.YAxisFlowChart2 line {
  stroke: none;
}

.YAxisFlowChart2 text {
  stroke: white;
}

.YAxisFlowChart2 path {
  stroke: white;
}

.YAxisFlowChart line {
  stroke: none;
}

.YAxisFlowChart text {
  stroke: white;
}

.YAxisFlowChart path {
  stroke: white;
}

.XAxisFlowChart line {
  stroke: rgba(255, 255, 255, 0);
}

.XAxisFlowChart text {
  color: rgb(255, 255, 255);
}

.XAxisFlowChart path {
  stroke: white;
}

.YAxisScatter line {
  stroke: none;
}

.YAxisScatter text {
  stroke: white;
}

.YAxisScatter path {
  stroke: none;
}

.XAxisScatter line {
  stroke: none;
}

.XAxisScatter text {
  color: rgba(255, 255, 255, 0);
}

.XAxisScatter path {
  stroke: none;
}

.XAxisBar line {
  stroke: white;
}

.XAxisBar path {
  stroke: white;
}

.XAxisBar text {
  stroke: none;
  color: white;
}

.YAxisBar line {
  stroke: white;
  stroke-width: 0%;
}

.YAxisBar path {
  stroke: white;
  stroke-width: 0%;
}

.YAxisBar text {
  color: white;
  font-size: 140%;
}

.btn {
  border: 2px solid #cf261f;
  height: 100%;
  cursor: pointer;
  border-radius: .45em;
  overflow: hidden;
  font-weight: bold;
}

div.tooltip {
  position: absolute;
  top: 405px;
  left: 360px;
  width: 180px;
  height: 85px;
  font-weight: bold;
  font-size: 130%;
  background: #2a2e3094;
  color: white;
  right: 10px;
  border: 2px solid #cf261f;
  border-radius: 10px;
}

div.tooltip2 {
  position: absolute;
  top: 405px;
  left: 360px;
  width: 420px;
  height: 110px;
  font-weight: bold;
  font-size: 130%;
  background: #2a2e30d3;
  color: white;
  right: 10px;
  border: 2px solid #cf261f;
  border-radius: 10px;
}

div.tooltip3 {
  position: absolute;
  top: 405px;
  left: 360px;
  width: 380px;
  height: 220px;
  font-weight: bold;
  font-size: 130%;
  background: #2a2e30d3;
  color: white;
  right: 10px;
  border: 2px solid #cf261f;
  border-radius: 10px;
}

.YAxisBarMisc line {
  stroke: white;
  stroke-width: 1px;
}

.YAxisBarMisc path {
  stroke: white;
  stroke-width: 1px;
}

.YAxisBarMisc text {
  color: white;
  font-size: 140%;
  font-weight: bold;
}