:root {
  --background-gradient: linear-gradient(30deg, rgb(202, 58, 58) 30%, rgb(202, 58, 58));
  --gray: #98b9db;
  --darkgray: #2a2e30;
}

#background_div{
  content: "";
  background: url(../data/estadio_Benfica.jpg);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#passingNetwork{
  margin-top: 3.5%;
  font-weight: bold;
  text-align: left;
  font-size: 170%;
  padding-left: 1%;
}

#plotActions{
  margin-top: 3.5%;
  font-weight: bold;
  text-align: left;
  font-size: 170%;
  padding-left: 1%;
}


.navbar-brand{
  padding-left: 1em;
}

.navbar .navbar-collapse {
  text-align: left;
  padding-left: 1em;
}

select {
  /* Reset Select */
  border:2px solid #cf261f;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: white;
  background-color: rgba(255,255,255,0);
  background-image: none;
  cursor: pointer;
  border-radius: .25em;
  overflow: hidden;
  font-weight: bold;
  
}

select option{
  background: #2a2e30;
}

.XAxis line{
  stroke: white;
}

.XAxis path{
  stroke: white;
}

.XAxis text{
  stroke: none;
  color: white;
  font-size: 90%;
}

.YAxis line{
  stroke: white;
  stroke-width: 0%;
}

.YAxis path{
  stroke: white;
  stroke-width: 0%;
}

.YAxis text{
  color: white;
}

td, th {
  padding: 1px 4px;
  color: white;
}

.XAxisBar line{
  stroke: white;
}

.XAxisBar path{
  stroke: white;
}

.XAxisBar text{
  stroke: none;
  color: white;
}

.YAxisBar line{
  stroke: white;
  stroke-width: 0%;
}

.YAxisBar path{
  stroke: white;
  stroke-width: 0%;
}

.YAxisBar text{
  color: white;
  font-size: 140%;
}

.btn{
  border:2px solid #cf261f;
  height: 100%;
  cursor: pointer;
  border-radius: .45em;
  overflow: hidden;
  font-weight: bold;
}

div.tooltip {	
  position: absolute;
  top: 405px;
  left: 360px;
  width: 180px;					
  height: 85px;
  font-weight: bold;							
  font-size: 130%;	
  background: #2a2e3094;	
  color: white;
  right: 10px;
  border: 2px solid #cf261f;
  border-radius: 10px;
}